@media screen and (min-width: 480px){
    body{

        background: blanchedalmond;
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        background: black;
        justify-content: flex-end;
        align-items: flex-start;
       
    }
}!important


.flex-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: slategray;
    justify-content: center;
    align-items: center;
    
}

.flex-item  {
    
    background-color: wheat;
    padding: 20px;  
    margin: 5px;

}